<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362618191601-efrrultsicja49q63qjd3e4ek41nuvoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362618191601-efrrultsicja49q63qjd3e4ek41nuvoe</string>
	<key>API_KEY</key>
	<string>AIzaSyCS_4A6xjxudWZJBah9b-b9OXEJeABMWB0</string>
	<key>GCM_SENDER_ID</key>
	<string>362618191601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>david.halascsak.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-897f8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-897f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362618191601:ios:2a7cb5b58869159f39f350</string>
</dict>
</plist>